# Write a python code to sum all the items in list

In [1]:
list_ = [1,2,3,4,5]
list_

[1, 2, 3, 4, 5]

In [2]:
sum_list_items = sum(list_)
print (" Sum of all items in list : ", sum_list_items)

 Sum of all items in list :  15

# Write the python code to get largest and smallest number from the list

In [3]:
list_ = [25,35,12,35,54,28,21,35,98,76,35,87,52,37,29,45,18,90,87]
list_

[25, 35, 12, 35, 54, 28, 21, 35, 98, 76, 35, 87, 52, 37, 29, 45, 18, 90, 87]

In [4]:
print(" Largest number from ginen list : ", max(list_))
print(" Largest number from ginen list : ", min(list_))

 Largest number from ginen list :  98
 Largest number from ginen list :  12

# Write python code to display first and last colour from given list

In [5]:
given_list = ['Red','White','Blue','Green','Purple','Orange']
given_list

['Red', 'White', 'Blue', 'Green', 'Purple', 'Orange']

In [6]:
del given_list[1:-1]
print(" List with first and last items : ", given_list)

 List with first and last items :  ['Red', 'Orange']

# Write python code to add 'ing' at end of given string ( length of string should be at least 3) and if given string is already ends with 'ing' then add 'ly' instead

In [7]:
string = str(input(" Enter the string : "))

 Enter the string : code

In [8]:
if len(string) >= 3:
    if string[-3:]=='ing':
        new_string = string + 'ly'
        print(" Expected outout : ", new_string)
    else:
        new_string = string + 'ing'
        print(" Expected outout : ", new_string)
else:
    print(" Required length of string at least 3")

 Expected outout :  codeing

# The marks obtained by student in 5 subject are input through keyboard. The student gets division as per the following :
1. Percentage above or equal to 60 - First Division,
2. Percentage between 50 to 59 - Second Division
3. Precentage between 40 to 49 - Third Division
4. Precentage less than 40 - Fail

In [9]:
first_sub_mark = int(input('Enter First subject mark : '))
second_sub_mark = int(input('Enter Second subject mark : '))
third_sub_mark = int(input('Enter Third subject mark : '))
fourth_sub_mark = int(input('Enter Fouth subject mark : '))
fifth_sub_mark = int(input('Enter Fifth subject mark : '))

Enter First subject mark : 56
Enter Second subject mark : 65
Enter Third subject mark : 76
Enter Fouth subject mark : 45
Enter Fifth subject mark : 35

In [10]:
Total_mark = first_sub_mark + second_sub_mark + third_sub_mark + fourth_sub_mark + fifth_sub_mark

In [11]:
percentage = Total_mark/5

In [12]:
if percentage >= 60:
    Division = 'First'
elif percentage >=50:
    Division = 'Second'
elif percentage >=40:
    Division = 'Third'
else:
    Division = 'Fail'
print(" Total Mark :",Total_mark,"   ","Percentage :",percentage,"    ","Division :", Division)

 Total Mark : 277     Percentage : 55.4      Division : Second

# Write python code to find the largest number among the three input numbers

In [13]:
first_num = int(input(" Enter the first number :"))
second_num = int(input(" Enter the second number :"))
third_num = int(input(" Enter the third number :"))

 Enter the first number :65
 Enter the second number :78
 Enter the third number :46

In [14]:
if first_num > second_num and first_num > third_num:
    print(first_num," is largest number")
elif second_num > first_num and second_num > third_num:
    print(second_num, " is largest number")
else:
    print(third_num," is largest number")

78  is largest number

# Write python code to check if the input year is a leap year or not

In [15]:
year = int(input(" Enter the year : "))

 Enter the year : 2012

In [16]:
if (year % 400==0):
    print(year, " is leaf year")
elif (year % 4==0 and year % 100!=0):
    print(year, " is leaf year")
else:
    print(year," is not leaf year")

2012  is leaf year

# Write python code to check if string is palindrome or not

In [17]:
string = input("Enter the string : ")

Enter the string : dad

In [18]:
reverse = string[ : :-1]
print("Given Stirng : ",string)
print("Reverse String :",reverse)
if string == reverse:
    print("Given string is palindrome")
else:
    print(" Given string is not palindrome")

Given Stirng :  dad
Reverse String : dad
Given string is palindrome

# Write python code to sort alphabetically the words form a string provided by the user.

In [19]:
string = input("Enter the words : ")

Enter the words : python is amazing

In [20]:
sort_string = string.split()
sort_string.sort()
print(" Expected output : ",sort_string)

 Expected output :  ['amazing', 'is', 'python']

# Given a nested list. Write pyhton code to extend it with adding sub list ["h", "i","j"] in such a way that it will look like following list :
1. Given List = ["a","b",["c",["d","e".["f","g"],"k"],"l"],"m","n"]
2. sub list = ["h","i","j"]
3. Expected output = ["a","b",["c",["d","e".["f","g","h","i","j"],"k"],"l"],"m","n"]

In [21]:
given_list = ["a","b",["c",["d","e",["f","g"],"k"],"l"],"m","n"]
sub_list = ["h","i","j"]

In [22]:
for i in sub_list:
    given_list[2][1][2].append(i)
print("Expected Output :",given_list)

Expected Output : ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

#  Write a python program for Given a Python list, to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value:
    list1 = [5, 10, 15, 20, 25, 50, 20]
    Expected output:
    list1 = [5, 10, 15, 200, 25, 50, 20]

In [23]:
given_list = [5, 10, 15, 20, 25, 50, 20]
find_value = 20
replace_value = 200

In [24]:
for i in range(len(given_list)):
    if (given_list[i] == find_value):
        given_list.remove(find_value)
        given_list.insert(i,replace_value)
        break
print("Expected Output :", given_list)

Expected Output : [5, 10, 15, 200, 25, 50, 20]