#  Create a string containing both a single quote and double quote

In [1]:
string = print(" Hi 'bob' and \"marry\" ")

 Hi 'bob' and "marry"

# Create a triple quote string that contain single and double quotes

In [2]:
string = print (''' Hi 'bob', "sam", and \'''marry\''', How are you ''')

 Hi 'bob', "sam", and '''marry''', How are you

# Create a character then obtain its integer representation

In [3]:
character = chr(50)
character

'2'

In [4]:
print(int(character))

2

# Create single string containing 5 copies of the string 'abc'

In [5]:
string = 'abc'
five_copies = ('<' + string * 5 + '>')
five_copies

'<abcabcabcabcabc>'

# Use the multiplication operator to create a line of 50 dashes

In [6]:
print ('-' * 50)

--------------------------------------------------

# Convert given the string to all upper case

In [7]:
string = " i love python"
string

' i love python'

In [8]:
all_upper_case = string.upper()
all_upper_case

' I LOVE PYTHON'

# Write the python code to get a string from a given string where all occurences of its first char have been changed to "$", except the first char itself

In [9]:
string = str(input(" Enter the string : "))
string

 Enter the string : restart

'restart'

In [10]:
first_chr = string [0:1]
remove_first_chr = string[1:]

expected_output = first_chr + remove_first_chr.replace(first_chr,'$')
print ("Expected Output : ",expected_output)

Expected Output :  resta$t

# Write python code to get string made of the first 2 and last 2 char from a given string

In [11]:
string = str(input(" Enter the string :"))

 Enter the string :JUPYTER

In [12]:
expected_output = string[0:2] + string[-2:]
print(" Given string with first 2 and last 2 chr is : ", expected_output)

 Given string with first 2 and last 2 chr is :  JUER

# Write python code to get single string from two given stings, seperated by a space and swap the first two chr of each string

In [13]:
string_1 = str(input("Enter the first string  : "))
string_2 = str(input("Enter the Second string  : "))

Enter the first string  : PYTHON
Enter the Second string  : CODE

In [14]:
swap_1 = string_2[0:2] + string_1[2:] 
swap_2 = string_1[0:2] + string_2[2:]
swap_1, swap_2

('COTHON', 'PYDE')

In [15]:
expected_output = (swap_1 + " " + swap_2)
expected_output

'COTHON PYDE'